/* 棋盘样式 */

/* 定义棋格大小 */
:root{
	--board-cell-heigh: 80;/*格子的理想高度 不需要带单位*/
	--board-cell-width: calc(1px*var(--board-cell-heigh)*1.25);
}



body, div, img, ul, li {
	margin : 0 ;
	padding : 0 ;
}
body {
	font-size : 12px ;
	background-color : #DDD ;
	
	/* min-width : 1200px ; */
}
ul, ul li {
	list-style : none ;
}
.clear {
	clear : both ;
}
.board {
	/* position : relative ; */
	/* width : 630px ; */
	/* margin : auto auto ; */
	padding-top: calc(0.37px*var(--board-cell-heigh));
}
.line {
	/* position : absolute ; */
	visibility : hidden ;
	margin-top: calc(-0.37px*var(--board-cell-heigh));
	white-space: nowrap;
}

.board>div:nth-child(odd) { /*奇数行样式*/
	/* position : absolute ; */
	/* visibility : hidden ; */
	
	/* margin-top: calc(-0.4px*var(--board-cell-heigh)); */
}

.board>div:nth-child(even) { /*偶数行样式*/
	/* position : absolute ; */
	/* visibility : hidden ; */
	padding-left: calc(1px*var(--board-cell-heigh)*21/40);;
	/* margin-top: calc(-0.4px*var(--board-cell-heigh)); */
}



.boxF, .boxS, .boxT, .overlay {
	width : calc(1px*var(--board-cell-heigh));
	height : var(--board-cell-width);
	overflow : hidden ;
}
.boxF, .boxS {
	visibility : hidden;
}
.boxF {
	transform : rotate(120deg) ;
	/* float : left ; */
	display: inline-block;
	margin-left : calc(1px*var(--board-cell-heigh)/20) ;
	-ms-transform : rotate(120deg) ;
	-moz-transform : rotate(120deg) ;
	-webkit-transform : rotate(120deg) ;
}
.boxS {
	transform : rotate(-60deg) ;
	-ms-transform : rotate(-60deg) ;
	-moz-transform : rotate(-60deg) ;
	-webkit-transform : rotate(-60deg) ;
}
.boxT {
	transform : rotate(-60deg) ;
	background : no-repeat 50% center ;
	background-size : 125% auto ;
	-ms-transform : rotate(-60deg) ;
	-moz-transform : rotate(-60deg) ;
	-webkit-transform : rotate(-60deg) ;
	visibility : visible ;
	background-color: #fff;
	transition: 0.5s;
}

.boxPlayer{
	background-color: darkorange !important;
}

.boxEnemy{
	background-color: darkgreen !important;
}

.boxGoal{
	background-color: darkblue !important;
}

.overlay {
	transition : all 250ms ease-in-out 0s ;
	display : none ;
	position : relative ;
}
.overlay:hover {
	background-color : rgba(0,0,0,0.6) ;
}
.boxT:hover .overlay {
	display : block ;
}
.overlay a {
	display : inline-block ;
	position : absolute ;
	left : 50% ;
	top : 50% ;
	margin : -16px 0 0 -16px ;
	border-radius : 3px ;
	background-color : #d3b850 ;
	text-align : center ;
	line-height : 32px ;
	width : 32px ;
	height : 32px ;
	text-decoration : none ;
	user-select: none;
	color : White ;
	font-size : 18px ;
	font-weight : bolder ;
	transform: scale(calc(var(--board-cell-heigh)/200));
}