/* 棋盘样式 */

/* 定义棋格大小 */
:root{
	--board-cell-heigh: 100;/*格子的理想高度 不需要带单位*/
	--board-cell-width: calc(1px*var(--board-cell-heigh)*1.25);
	--board-cell-border-width: calc(2px*var(--board-cell-heigh)/40);
	--board-cell-border-color: blue;
}



body, div, img, ul, li {
	margin : 0 ;
	padding : 0 ;
}
body {
	font-size : 12px ;
	background-color : #DDD ;
	
	/* min-width : 1200px ; */
}
ul, ul li {
	list-style : none ;
}
.clear {
	clear : both ;
}
.board {
	/* position : relative ; */
	/* width : 630px ; */
	/* margin : auto auto ; */
	padding-top: calc(0.37px*var(--board-cell-heigh));

	padding-top: 50px;
	padding-left: 50px;
}
.line {
	/* position : absolute ; */
	visibility : hidden ;
	margin-top: calc(-0.37px*var(--board-cell-heigh));
	white-space: nowrap;
}

.board>div:nth-child(odd) { /*奇数行样式*/
	/* position : absolute ; */
	/* visibility : hidden ; */
	
	/* margin-top: calc(-0.4px*var(--board-cell-heigh)); */
}

.board>div:nth-child(even) { /*偶数行样式*/
	/* position : absolute ; */
	/* visibility : hidden ; */
	padding-left: calc(1px*var(--board-cell-heigh)*21/40);;
	/* margin-top: calc(-0.4px*var(--board-cell-heigh)); */
}



.boxF, .boxS, .boxT, .overlay, .boxSBorder,  .boxFBorder{
	width : calc(1px*var(--board-cell-heigh));
	height : var(--board-cell-width);
	
}
.boxF, .boxS {
	visibility : hidden;
}
.boxF {
	transform : rotate(120deg) ;
	/* float : left ; */
	display: inline-block;
	margin-left : calc(1px*var(--board-cell-heigh)/20) ;
	-ms-transform : rotate(120deg) ;
	-moz-transform : rotate(120deg) ;
	-webkit-transform : rotate(120deg) ;
	overflow : hidden ;
}
.boxS {
	transform : rotate(-60deg) ;
	-ms-transform : rotate(-60deg) ;
	-moz-transform : rotate(-60deg) ;
	-webkit-transform : rotate(-60deg) ;
	overflow : hidden ;
	
}

.boxFBorder{
	transform : rotate(-60deg) ;
	-ms-transform : rotate(-60deg) ;
	-moz-transform : rotate(-60deg) ;
	-webkit-transform : rotate(-60deg) ;
	/* box-sizing: content-box; */
	box-sizing: border-box;
	margin-left: calc(-1*var(--board-cell-border-width));

	/* margin:-1px; */
	border-width:0 var(--board-cell-border-width) 0 var(--board-cell-border-width);
	border-style: solid;
	border-color: transparent;
	border-color: transparent;
	visibility : visible ;
	pointer-events:none;
	/* overflow : hidden ; */
}



.boxSBorder{
	transform : rotate(-60deg) ;
	-ms-transform : rotate(-60deg) ;
	-moz-transform : rotate(-60deg) ;
	-webkit-transform : rotate(-60deg) ;
	/* box-sizing: content-box; */
	box-sizing: border-box;
	margin-left: calc(-1*var(--board-cell-border-width));
	/* margin-right: -1px; */
	border-width:0 var(--board-cell-border-width) 0 var(--board-cell-border-width);
	border-style: solid;
	visibility : visible ;
	border-color: transparent;
	pointer-events:none;
	/* overflow : hidden ; */
}

.boxTBorder{
	box-sizing: border-box;
	border-width:0px var(--board-cell-border-width) 0px var(--board-cell-border-width);
	border-style: solid;
	border-color: transparent;
	pointer-events:none;

	/* border-color: transparent; */
}

.LTBorder .boxFBorder{
	border-right-color: var(--board-cell-border-color);
}
.RBBorder .boxFBorder{
	border-left-color: var(--board-cell-border-color);
}

.RTBorder .boxSBorder{
	border-right-color: var(--board-cell-border-color);
}
.LBBorder .boxSBorder{
	border-left-color: var(--board-cell-border-color);
}

.RBorder .boxTBorder{
	border-right-color: var(--board-cell-border-color);
}
.LBorder .boxTBorder{
	border-left-color: var(--board-cell-border-color);
}

.boxT {
	transform : rotate(-60deg) ;
	background : no-repeat 50% center ;
	background-size : 125% auto ;
	-ms-transform : rotate(-60deg) ;
	-moz-transform : rotate(-60deg) ;
	-webkit-transform : rotate(-60deg) ;
	visibility : visible ;
	background-color: #fff;
	transition: 0.5s;

	position: relative;
	overflow : hidden ;
	
}

.boxPlayer{
	/* background-color: darkorange !important; */
	background : no-repeat 50% center;
	background-image: url(../img/player.png);
	background-color: #fff;
	background-size : 160% auto;
}

.boxPlayerCanWalk{
	background-color: #bbbb !important;

}


.boxEnemy{
	/* background-color: darkgreen !important; */
	background : no-repeat 50% center;
	background-image: url(../img/enemy.png);
	background-color: #fff;
	background-size : 180% auto;
}

.boxEnemyRoute{
	background-color:#00640055
}

.boxGoal{
	/* background-color: darkblue !important; */
	background : no-repeat 50% center;
	background-image: url(../img/goal.png);
	background-color: #fff;
	background-size : 90% auto;
}

.boxMountain{
	
	background : no-repeat 50% center;
	background-image: url(../img/mountain.png);
	background-color: #fff;
	background-size : 155% auto;
}

.overlay {

	transition : all 250ms ease-in-out 0s ;
	display : none ;
	position : absolute ;
	z-index: 20;
	top: 0;
}
.overlay:hover {
	background-color : rgba(0,0,0,0.6) ;
}
.boxT:hover .overlay {
	display : block ;
}
.overlay a {
	display : inline-block ;
	position : absolute ;
	left : 50% ;
	top : 50% ;
	margin : -16px 0 0 -16px ;
	border-radius : 3px ;
	background-color : #d3b850 ;
	text-align : center ;
	line-height : 32px ;
	width : 32px ;
	height : 32px ;
	text-decoration : none ;
	user-select: none;
	color : White ;
	font-size : 18px ;
	font-weight : bolder ;
	transform: scale(calc(var(--board-cell-heigh)/200));
}

.boxPlayer .overlay a{
	content: "玩家";
}